numpy
scipy
opencv-python
pandas
imutils
matplotlib
pycocotools
thop
tqdm
easydict
tabulate
loguru
ipdb
motmetrics
openvino
PyYAML
seaborn
openpifpaf
tensorrt
basicsr>=1.3.3.11
Pillow
# face enhancement
facexlib
gfpgan
gdown