numpy
scipy
opencv_python_headless
opencv-python


pandas
imutils
matplotlib
pycocotools
thop
tqdm
easydict
tabulate
loguru
#apex
ipdb
#megengine
motmetrics
onnx
onnxruntime
openvino
PyYAML
seaborn
openpifpaf
tensorrt
